{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "extends": [
    "google"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": [
  ],
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "camelcase": [
      "error",
      {
        "properties": "always"
      }
    ],
    "comma-dangle": ["error", {
      "arrays": "ignore",
      "objects": "ignore",
      "imports": "ignore",
      "exports": "ignore",
      "functions": "ignore"
    }],
    "curly": [
      "error",
      "all"
    ],
    "generator-star-spacing": [
      "error",
      "before"
    ],
    "guard-for-in": [
      "error"
    ],
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "key-spacing": [
      "error",
      {
        "mode": "minimum"
      }
    ],
    "max-len": [
      "error",
      120,
      4,
      {
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreTrailingComments": true
      }
    ],
    "new-cap": [
      "error",
      {
        "properties": false
      }
    ],
    "no-extra-boolean-cast": [
      "off"
    ],
    "no-floating-decimal": [
      "off"
    ],
    "no-implicit-coercion": [
      "error",
      {
        "boolean": false,
        "number": false,
        "string": false
      }
    ],
    "no-trailing-spaces": [
      "warn",
      {
        "skipBlankLines": true
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "quote-props": [
      "error",
      "as-needed"
    ],
    "require-jsdoc": [
      "warn",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
        }
      }
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "valid-jsdoc": [
      "error",
      {
        "requireReturn": false
      }
    ]
  }
}
